.heading-container {
  padding: 2.5%;
}

.country {
  font-size: 5rem;
  color: rgb(0, 0, 0);
}

.city {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
}

.country-container {
  padding-top: 2%;
  padding-left: 4%;
}
a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}
